.color {
    font-size: 20px;
    color : blue;

}
.cabeza{
    display: flex;
    justify-content: center;
    
}
.tamaño{
    width:20% ;
    height: 20%;
}
.textocentrado{
    text-align: center;
    font-size: 3em;
    
}
.delado{
    display: flex;
    justify-content:space-around;
    
}

.no-display{
    display: none;
}

/*-----------------Carrito de compra----------------*/
.modal-conteiner{
    width: 50%;
    margin: 0 10%;
    max-height: 88vh;
    color: aliceblue;
    background-color: brown;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*Top*/
    position: fixed;
    overflow: auto;
    z-index: 9;
    top: 12vh;
    scrollbar-color:none;
}
.modal-conteiner::-webkit-scrollbar {
    display: none;

}
.modal-carrito {
    display: flex;
    justify-content: space-between;
    background-color: chocolate;
    color: black;
    width: 100%;
}
.modal-carrito-text {
    justify-self: start;

}
.boton-x{
    cursor: pointer;
}
.modal-conteiner >.carrito-contenedor {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 70%;

}
.carrito-contenedor > div > img {
    height: 120px;
    width: 120px;

}
